* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

#nav-bar {
  background-color: #f4f1e9;
  color: #668586;
}

/* home page */
#home-page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

#home-page-list li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

#home-page-list li p {
  margin: 10px 0;
  text-align: center;
}



